@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Yellowtail&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: Raleway, sans-serif;
    font-weight: 200;
    color: #26292C;
}

/* Logo and Headings */

h1, h2 {
    font-family: Yellowtail, sans-serif;
    letter-spacing: 1px;
    color: #4C5457;
}

#logo {
    float: left;
    font-size: 300%;
}